$color-primary-dark: #474747;
$color-primary-light: #848484;
$color-golden: #eaa906;

$color-gray: #e5e5e5;
$color-white: #ffffff;
$color-black: #000000;
$color-green: rgb(50, 214, 50);
$color-red: rgb(241, 29, 29);

@mixin respond($breakpoint) {
  @if $breakpoint == bp-600 {
    @media (min-width: 37.5em) {
      @content;
    } //600px (37.5 * 16)
  }
  @if $breakpoint == bp-720 {
    @media (min-width: 45em) {
      @content;
    } //900px
  }
  @if $breakpoint == bp-900 {
    @media (min-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == bp-1200 {
    @media (min-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == bp-1800 {
    @media (min-width: 112.5em) {
      @content;
    } //1800
  }
}
