.product-row {
  padding-bottom: 6rem;

  &__text {
    text-align: justify;
    max-width: 600px;
    margin-bottom: 3rem;
  }
}

.product-box {
  max-width: 280px;

  &__body {
    color: $color-primary-dark;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__stars {
    max-width: 13rem;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.btn-products {
  @media (max-width: 434px) {
    margin-bottom: 2rem;
  }
  margin-right: 2rem;
}

.products__h4 {
  @media (min-width: 623px) {
    display: inline-block;
    margin-right: 2rem;
  }
}
