<section class="section logos" data-aos="fade">
  <div class="container logos__container">
    <a href="#"
      ><img src="../img/logo-1.png" alt="Logo" class="logos__logo"
    /></a>
    <a href="#"
      ><img src="../img/logo-2.jpeg" alt="Logo" class="logos__logo"
    /></a>
    <a href="#"
      ><img src="../img/logo-3.png" alt="Logo" class="logos__logo"
    /></a>
    <a href="#"
      ><img src="../img/logo-4.png" alt="Logo" class="logos__logo"
    /></a>
    <a href="#"
      ><img src="../img/logo-5.jpeg" alt="Logo" class="logos__logo"
    /></a>
    <a href="#"
      ><img src="../img/logo-6.png" alt="Logo" class="logos__logo"
    /></a>
  </div>
</section>
