<footer class="section footer">
  <div class="container footer__container">
    <div class="footer__pages">
      <h3 class="footer__title">Pages</h3>
      <ul>
        <li>
          <a href="#" class="footer__link">Who We Are</a>
        </li>
        <li>
          <a href="#" class="footer__link">Be Our Partner</a>
        </li>
        <li>
          <a href="#" class="footer__link">Contact</a>
        </li>
        <li>
          <a href="#" class="footer__link">Coffees</a>
        </li>
        <li>
          <a href="#" class="footer__link">What We Do</a>
        </li>
        <li>
          <a href="#" class="footer__link">Home</a>
        </li>
      </ul>
    </div>

    <div class="footer__contact">
      <h3 class="footer__title">Contact</h3>
      <p class="footer__text">(35) 3214-5399</p>
      <p class="footer__text">contato@coccamp.com.br</p>
    </div>

    <div class="footer__address">
      <h3 class="footer__title">Address</h3>
      <p class="footer__text">Alameda do Café, 252</p>
      <p class="footer__text">Jardim Andere / 37026-400</p>
    </div>

    <div class="footer__media">
      <h3 class="footer__title">Media</h3>
      <ul>
        <li>
          <a href="#"><i class="fab fa-linkedin footer__icon"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-whatsapp-square footer__icon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
