<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts-->
    {% include _gfont.html %}

    <!-- Font-awesome-->
    {% include _fa.html %}

    <!-- AOS-->
    {% include _aos.html %}

    <!-- Css da casa-->
    {% include _css.html %}

    <title>{{ page.url }}</title>
  </head>

  <body>
    <!-- Header-->
    {% include _header.html %}

    <main class="main">
      <section class="hero hero--who">
        <div class="container">
          <h1 class="hero__title">{{ about.heroText.title }}</h1>
          <p class="hero__subtitle">{{ about.heroText.subtitle }}</p>
        </div>
        <div class="hero__chevron">
          <a href="#first-section">
            <img src="../img/header-chevron-bottom.png" alt="Scroll Down"
          /></a>
        </div>
      </section>

      <section id="first-section" class="section who">
        <div class="container">
          <div class="who__box">
            <div class="who__img who__img--1">
              <img src="../img/products.webp" alt="Our products" />
            </div>

            {{ about.aboutTextOne }}
          </div>

          <div class="who__box">
            <div class="who__img who__img--2 image-box-lg">
              <img src="../img/what-grid-1.webp" alt="Our products" />
            </div>

            <div class="who__text who__text--2">
              {{ about.aboutTextTwo }}
              <a class="button who__button" href="#">{{ about.textPartner }}</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Brand logos-->
      {% include _brands.html %}

      <!-- Footer-->
      {% include _footer.html %}
    </main>

    <!-- Animation on Scroll-->
    {% include _aos-init.html %}

    <!-- JS da casa-->
    {% include _js.html %}
  </body>
</html>
